{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="card" class="card shadow mb-3 p-3">
                <h3>Ajouter Categorie</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, minima aliquam corrupti praesentium placeat vero dolorem repellat vitae. Labore tempora perferendis officiis quisquam aperiam modi voluptatibus molestias voluptates obcaecati veniam?</p>
                {{ form_start(form) }}
                {{ form_errors(form) }}
        
                {{ form_rest(form) }}
                <button id="btn-back" type="button" class="btn float-left btn-circle"><i class="fas fa-arrow-left"></i></button>
                <button id="btn-success" type="submit" class="btn float-right"><i class="fas fa-check"></i> Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
      </div>
</div>

{% endblock %}
