@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

/* body */
html, body {
    background-color: #16161a;
    font-family: Arial;
    color: white;
}

#navigation{
    background: #01423a;
    height: 40px;
    width:100%;
}

.fixNavigation{
    z-index: 9999;
    position: fixed;
    top: 0;
    /* Mise en forme */
    width:100%;
}

.example-wrapper { margin: 1em auto; max-width: 1100px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

/* titre */
h1, h2, h3, h4, h5, h6 {
    color: #fffffe;
}

/* paragraphe */
p {
    color: #94a1b2;
}

/* card */
#card {
    background-color: #242629;
    color: #94a1b2;
    max-width: 100%;
    display: block ;
}

/* button valider */
#btn-success {
    background-color: #00473e;
    color: #ffffff;
}

#btn-success:hover {
    background-color: #01423a;
    color: #ffffff;
}

/* button editer */
#btn-warning {
    background-color: #dda249;
    color: #001e1d;
}

#btn-warning:hover {
    background-color: #cf953e;
    color: white;
}

/* button danger */
#btn-danger {
    background-color: #c44b3b;
    color: white;
}

#btn-danger:hover {
    background-color: #b83e2e;
    color: white;
}

/* btn info */
#btn-info {
    background-color: #3da9fc;
    color: white;
}

/* btn back */
#btn-back {
    background-color: #72757e;
    color: white;
}

#btn-back:hover {
    background-color: #67696e;
    color: white;
}

#btn-moderator {
    background-color: #7f5af0;
    color: white;
}

/* alert danger */
.alert-danger {
    background-color: #c44b3b;
    color: #ffffff;
    border: none;
}

/* alert success */
.alert-success {
    background-color: #01423a;
    color: #ffffff;
    border: none;
}

/* alert info */
.alert-info {
    background-color: #3da9fc;
    color: #ffffff;
    border: none;
}

/* icon */
i {
    color: #ffffff;
}

/* circle button */
.btn-circle { 
    width: 40px; 
    height: 40px; 
    padding: 6px 0px;
    border-radius: 25px; 
    text-align: center; 
} 

.form-control {
    background-color: #16161a;
    border: none;
    color: white;
}

.form-control:focus {
    background-color: #16161a;
    border: none;
    color: white;
}

label {
    color: white;
}

a:hover {
    color: white;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;

}

#jumbotron-header {
    height: 200px;
    margin: 0;
}

a {
    color: #dddddf;
}

#topic-title {
    padding-right: 10px;
}

#topic-publishedAt {
    padding-top: 11px;
}

#comment-publishedAt {
    padding-top: 1px;
}

#comment-title {
    padding-right: 10px;
}

/* #cke_1_top {
    background-color: #01423a;
    border: none;
} */

#bookmark {
    border-top-style: solid;
    border-top-width: 0px;
    padding-top: 27px;
    padding-left: 10px;
    font-size: 21px;
    line-height: 0.7;
}

#topic-message {
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}

td {
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.table {
    margin-top: 15px;
}

#navigation {
    margin-top: 0px;
    margin-bottom: 50px;
}
   
#description {
    margin-top: 50px;
}
   
#badge-anonyme {
    padding-right: 5px;
    padding-bottom: 3px;
    margin-left: 7px;
}

#header-comment {
    margin-bottom: 0px;
    padding-bottom: 35px;
}

.badge-success {
    background-color: #01423a;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
   
.pagination a {
    border-radius: 5px;
  }
  
.pagination a.active {
border-radius: 5px;
}

/* select{
    color:red !important;
    background-color: red !important;
 
} */

.custom-file-input{
    background-color: #16161a;

}