{% extends 'base.html.twig' %}

{% block title %}Nouvelle partie{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="card" class="card shadow mb-4 p-3">
                <h1>Nouvelle partie</h1>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                <button id="btn-success" class="btn float-right">valider</button>
                <br><br>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
