<div id="card" class="card shadow mb-3 border-left">
    <div class="card-body">
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nisi non repudiandae fugiat
            aspernatur exercitationem voluptatem voluptate quae, facere veniam? Quisquam eos dignissimos
            deleniti nulla architecto hic possimus autem exercitationem. <i class="fas fa-quote-right"></i></p>
    </div>
</div>