<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-about"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 footer-links"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-copyright"></div>
                <div class="col-md-6 footer-social"></div>
            </div>
        </div>
    </div>
</div>