<header>
    <div id="jumbotron-header" class="jumbotron text-center jumbotron-fluid">
        <!-- <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p> -->
     </div>
</header>