{% for party in parties() %}
    <span>
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-bullhorn"></i>
            <span class="p-3">
                {{ party.title }} - <a href="#">Inscrivez vous dès maintenant !</a>
            </span>
        </div>
    </span>
{% else %}
    <span>
        <div class="alert alert-success" role="alert">
            <i class="fas fa-bullhorn"></i>
            <span class="p-3">
                Aucune partie pour le moment, nous reviendrons bientot !
            </span>
        </div>
    </span>
{% endfor %}