{% for party in parties() %}
<span>
    <div id="party_flash" class="alert alert-danger" role="alert">
        <div class="container">
            <div class="row">
                <div id="icon_party_flash" class="col-md-1">
                    <i class="fas fa-bullhorn"></i>
                </div>
                <div id="text_party_flash" class="col-md-11">
                    {{ party.title }} - <a href="#">Inscrivez vous dès maintenant !</a>
                </div>
            </div>
        </div>
    </div>
</span>
{% else %}
<span>
    <div id="party_flash" class="alert alert-success" role="alert">
        <div class="container">
            <div class="row">
                <div id="icon_party_flash" class="col-md-1">
                    <i class="fas fa-bullhorn"></i>
                </div>
                <div id="text_party_flash" class="col-md-11">
                    Aucune partie pour le moment, nous reviendrons très bientôt !
                </div>
            </div>
        </div>
    </div>
</span>
{% endfor %}