<nav id="navigation">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active text-white" href="#">Accueil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Profil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Messagerie</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Deconnexion</a>
            </li>
        </ul>
    </div>
</nav>