<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Forum</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# Header #}
        {% block header %}{% include "block/_header.html.twig" %}{% endblock %}

        {# Barre de navigation #}
        {% block nav %}{% include "block/_navbar.html.twig" %}{% endblock %}

        {# Message flash #}
        {% block message %}{% include "block/_message.html.twig" %}{% endblock %}      
          
        {# Body #}
        {% block body %}{% endblock %}

        {# Footer #}
        {% block footer %}{% include "block/_footer.html.twig" %}{% endblock %}

        {# Javascript #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
