<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://kit.fontawesome.com/8a50ac4291.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, quo earum corrupti molestiae necessitatibus iste repellat nobis et. Alias aut quisquam, voluptatem fugiat debitis soluta magnam error aperiam. Consectetur, aut!</p>
            </div>
        </header>
        <nav id="navigation">
            <div class="container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                    <a class="nav-link active text-white" href="#">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" href="#">PROFIL</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" href="#">MESSAGERIE</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-white" href="#">DECONNEXION</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
