<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Forum</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <meta name="description" content="Simple forum">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="robots" content="noindex" />
        <meta name="author" content="Zachari Blinn">
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {# Barre de navigation #}
        {% block nav %}{% include "block/_navbar.html.twig" %}{% endblock %}

        {# Message flash #}
        {% block message %}{% include "block/_message.html.twig" %}{% endblock %}

        {# Body #}
        {% block body %}{% endblock %}

        {# Footer #}
        {% block footer %}{% include "block/_footer.html.twig" %}{% endblock %}

        {# Javascript #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
