{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="card" class="card shadow mb-4 p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('build/images/13.png') }}" width="115%" height="90%">
                        </div>
                        <div class="col-md-6">
                            <h3>Une erreur est survenue !</h3>
                            <br>
                            <code class="lead">{{ status_code }} - {{ status_text }}</code>
                            <p>
                                Pas d'inquiétude, ça arrive même au meilleur, revenez en lieu sûr, à
                                <a href="{{ path('app_default') }}">l'accueil</a>, par exemple.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}