{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="card" class="card shadow mb-4 p-3">
                <h3>Une erreur est survenue :(</h3>
                <br>
                <code class="lead">{{ status_code }} - {{ status_text }}</code>
                <p>
                    Pas d'inquiétude, ça arrive même au meilleur, pourquoi pas revenir en lieu sûr ? sur la page <a href="{{ path('app_default') }}">d'accueil</a>, par exemple.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}