{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="card" class="container-fluid card shadow mb-3 p-3">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                <span>
                    <button id="btn-success" type="submit" class="btn float-right"><i class="fas fa-feather-alt"></i>
                        Répondre</button>
                </span>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}